# site properties and page defaults
title: Cambridge Sustainable Computing Lab
subtitle: University of Cambridge, UK
description: >
  We tackle the environmental impacts of computing and promote
  Environmentally Sustainable Computational Science.
header: images/generic_images/background_stripes.png
footer: images/generic_images/background_stripes.png
proofer: false

# Some custom colours (complementing -theme.scss)
background_section_highlight: "#386641" # dark green

# site social media and other links
links:
  email: ll582@medschl.cam.ac.uk
  orcid: 0000-0002-9135-1345
  google-scholar: VRr3DlcAAAAJ
  bluesky: loiclnlg.bsky.social

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
